.main-nav-2 {
  width:100vh;    
  height:45px;
  position: absolute;  
  -webkit-transform-origin: left top;
  -webkit-transform:rotate(-90deg) translateX(-100%);
  text-align: center; 
  margin-left: -30px;
}

.main-nav-2 ul a{
  color: black;
}


ul.nav-vetical-2 li {    
  /* background:#dddddd; */
  border: none;
  margin-right: 1px;
  list-style: none;
  line-height: 45px;
  float: right;
  width: 100px;  
}

