<div class="row">
  <div class="col-md-7">
    <div>
      <div class="bg-white p-2">
        <h2 class="p-2"><b>Historial de la cuenta</b></h2>        
        <ul>
          <li class="mt-1">Today at 10:50pm / <a href="#">mike Smith</a> added new contact to the user group</li>
          <li class="mt-1">Today at 10:50pm / <a href="#">mike Smith</a> added new contact to the user group</li>
          <li class="mt-1">Today at 10:50pm / <a href="#">mike Smith</a> added new contact to the user group</li>
          <li class="mt-1">Today at 10:50pm / <a href="#">mike Smith</a> added new contact to the user group</li>
          <li class="mt-1">Today at 10:50pm / <a href="#">mike Smith</a> added new contact to the user group</li>
          <li class="mt-1">Today at 10:50pm / <a href="#">mike Smith</a> added new contact to the user group</li>          
        </ul>
      </div>
    </div>
  </div>
</div>