<!-- Este es el caso cuando queremos editar -->  

<div>
    <div class="bg-white p-2">
      <div class="row">
        <div class="col-md-12">
          <h3 class="p-2">Adherente N XXXXX</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <h3>Nombre Apellido</h3>
          <h4>Parentezco</h4>
          <h4>Estado</h4>
        </div>
        <div class="col-md-3">
          <mat-form-field class="input-mx" appearance="fill">
            <mat-label>Fecha de alta</mat-label>
            <select matNativeControl required>
              <option value="volvo">Elije uno</option> 
            </select>
          </mat-form-field>         
        </div>
        <div class="col-md-3">
          <mat-form-field class="input-mx" appearance="fill">
            <mat-label>Esta de adherente</mat-label>
            <select matNativeControl required>
              <option value="volvo">Elije uno</option> 
            </select>
          </mat-form-field>        
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <mat-form-field appearance="legacy" class="input-mx" appearance="fill">
            <mat-label>Nombre(s)</mat-label>
            <input matInput placeholder="Ingrese nombre(s)">
            <mat-icon matSuffix>edit</mat-icon>                      
          </mat-form-field>  
        </div>
        <div class="col-md-6">
          <mat-form-field appearance="legacy" class="input-mx" appearance="fill">
            <mat-label>Apellidos</mat-label>
            <input matInput placeholder="Ingrese apellidos">
            <mat-icon matSuffix>edit</mat-icon>                      
          </mat-form-field>        
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <mat-form-field class="input-mx" appearance="fill">
            <mat-label>Parentezo</mat-label>
            <select matNativeControl required>
              <option value="volvo">Elije uno</option> 
            </select>
          </mat-form-field>                   
        </div>
        <div class="col-md-3">
          <mat-form-field class="input-mx" appearance="fill">
            <mat-label>Sexo</mat-label>
            <select matNativeControl required>
              <option value="volvo">Elije uno</option> 
            </select>
          </mat-form-field>                  
        </div>
        <div class="col-md-3">
          <mat-form-field appearance="legacy" class="input-mx" appearance="fill">
            <mat-label>Fecha de naciminento</mat-label>
            <input matInput placeholder="Ingrese nombre">
            <mat-icon matSuffix>edit</mat-icon>                      
          </mat-form-field>       
        </div>
        <div class="col-md-3">
          <mat-form-field appearance="legacy" class="input-mx" appearance="fill">
            <mat-label>Edad</mat-label>
            <input matInput placeholder="Ingrese nombre">
            <mat-icon matSuffix>edit</mat-icon>                      
          </mat-form-field>       
        </div>
      </div>
    </div>
  </div>   