<div class="row">
  <div class="col-md-8">        
    <div class="bg-white p-3">
      <div>
        <h2>Cuenta N XXXXX</h2>          
        <table class="table" (click)="verLateralDos()">
          <tr>
            <td>nombre y apellido</td>
            <td>parentezco</td>
            <td>espacio para otra cosa</td>
          </tr>
          <tr>
            <td>nombre y apellido</td>
            <td>parentezco</td>
            <td>espacio para otra cosa</td>
          </tr>                  
          <tr>
            <td>nombre y apellido</td>
            <td>parentezco</td>
            <td>espacio para otra cosa</td>
          </tr>
          <tr>
            <td>nombre y apellido</td>
            <td>parentezco</td>
            <td>espacio para otra cosa</td>
          </tr>                                    
        </table>  
      </div>
    </div>     
  </div>
  
  <div class="col-md-4" *ngIf="openLateralDos">
    <div class="row">
      <div class="col-md-11">
        
        <router-outlet></router-outlet>

      </div>
      <div class="col-md-1">
        <app-navbar-lateral-dos></app-navbar-lateral-dos>
      </div>
    </div>
  </div>
</div>