<div class="row">
  <div class="col-12">
    <a (click)="storeCobranza()" class="text-center btn tab-superior-active">
      Nombre <br>
      Cobrador
    </a>
    <a class="text-center ml-1 btn tab-superior">
      Nombre <br>
      Cobrador
    </a>
    <a class="text-center ml-1 btn tab-superior">
      Nombre <br>
      Cobrador
    </a>
    <a class="text-center ml-1 btn tab-superior">
      Nombre <br>
      Cobrador
    </a>      
    <a class="text-center ml-1 btn tab-superior">
      Nombre <br>
      Cobrador
    </a>      
    <a class="text-center ml-1 btn tab-superior">
      Nombre <br>
      Cobrador
    </a>                    
  </div>
</div>