<div class="row">
  <div class="col-md-3">
    <div class="p-3 bg-white shadow">
      <h5>Income</h5>
      <h3>40 886,200</h3>
      <span style="font-size: 12px;">Total income</span>
    </div>
  </div>
  <div class="col-md-3">
    <div class="p-3 bg-white shadow">
      <h5>Ordenrs</h5>
      <h3>40 886,200</h3>
      <span style="font-size: 12px;">Total income</span>
    </div>
  </div>                  
  <div class="col-md-3">
    <div class="p-3 bg-white shadow">
      <h5>Income</h5>
      <h3>40 886,200</h3>
      <span style="font-size: 12px;">Total income</span>
    </div>                
  </div>
  <div class="col-md-3">
    <div class="p-3 bg-white shadow">
      <h5>Income</h5>
      <h3>40 886,200</h3>
      <span style="font-size: 12px;">Total income</span>
    </div>                  
  </div>
</div>