<div class="row">
  <div class="col-md-7">
    <div>
      <div class="bg-white p-2">
        <h2 class="p-2"><b>Adicionales de cuenta</b></h2>

        <table class="table">
          <tr>
            <td>Nombre y apelido</td>
            <td>Parentezco</td>
          </tr>
          <tr>
            <td>Nombre y apelido</td>
            <td>Parentezco</td>
          </tr>
          <tr>
            <td>Nombre y apelido</td>
            <td>Parentezco</td>
          </tr>
          <tr>
            <td>Nombre y apelido</td>
            <td>Parentezco</td>
          </tr>
          <tr>
            <td>Nombre y apelido</td>
            <td>Parentezco</td>
          </tr>                        
        </table>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="bg-white p-2">
      <h3>Historico de adicionales</h3>
    </div>
  </div>
</div>