<div class="row" style="height: 60px;">
  <div class="col-12" *ngIf="isOpenTabSuperior">
    <div
      *ngFor="let cuentasOpen of cuentasOpens; index as i"
      class="btn tab-superior mr-2"
      [class]="{'tab-superior-active' : cuentasOpen.active }"
    >
      <button type="button" class="close" aria-label="Close" (click)="deleteTab(i)">
        <span aria-hidden="true">&times;</span>
      </button>            
      <div (click)="irOpenNav(cuentasOpen.url,i)">
        <span class="text-center" *ngIf="cuentasOpen.type == 'cuentas' ">
          Cuenta Nº {{ cuentasOpen.codigo}} <br>
          {{ cuentasOpen.user}}          
        </span>

        <span class="text-center" *ngIf="cuentasOpen.type == 'cobranzas' ">
          Cobrador Nº {{ cuentasOpen.codigo}} <br>
          {{ cuentasOpen.user}}          
        </span>   
        
        <span class="text-center" *ngIf="cuentasOpen.type == 'planes' ">
          Planes Nº {{ cuentasOpen.codigo}} <br>
          {{ cuentasOpen.user}}          
        </span>

        <span class="text-center" *ngIf="cuentasOpen.type == 'usuarios' ">
          Usuarios Nº {{ cuentasOpen.codigo}} <br>
          {{ cuentasOpen.user}}          
        </span>        
      </div>                       
    </div>
  </div>
</div>