<div class="row">
  <div class="col-md-7">
    <div>
      <div class="bg-white p-2">
        <h2 class="p-2"><b>Ordenes de pago</b></h2>
        <table class="table">
          <tr>
            <td>Nombre y apelido</td>
            <td>Parentezco</td>
          </tr>
          <tr>
            <td>Nombre y apelido</td>
            <td>Parentezco</td>
          </tr>
          <tr>
            <td>Nombre y apelido</td>
            <td>Parentezco</td>
          </tr>
          <tr>
            <td>Nombre y apelido</td>
            <td>Parentezco</td>
          </tr>
          <tr>
            <td>Nombre y apelido</td>
            <td>Parentezco</td>
          </tr>                        
        </table>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="bg-white p-3">
      <h2 class="p-2"><b>Pago manual</b></h2>
      <div class="form-group">
        <mat-form-field class="input-mx" appearance="fill">
          <mat-label>Medio de pago</mat-label>
          <select matNativeControl required>
            <option value="volvo">selecciona un medio de pago</option> 
          </select>
        </mat-form-field>         
      </div>
      <div class="form-group">
        <mat-form-field appearance="legacy" class="input-mx" appearance="fill">
          <mat-label>Comprobante N#</mat-label>
          <input matInput placeholder="Ingreso numero de comprobante">
          <mat-icon matSuffix>edit</mat-icon>                      
        </mat-form-field>           
      </div>
      <div class="form-group">
        <mat-form-field appearance="legacy" class="input-mx" appearance="fill">
          <mat-label>Lote N#</mat-label>
          <input matInput placeholder="Ingreso numero de lote">
          <mat-icon matSuffix>edit</mat-icon>                      
        </mat-form-field>           
      </div>  
      <div class="form-group">
        <mat-form-field appearance="legacy" class="input-mx" appearance="fill">
          <mat-label>Ticket N#</mat-label>
          <input matInput placeholder="Ingreso numero de ticket">
          <mat-icon matSuffix>edit</mat-icon>                      
        </mat-form-field>           
      </div>     
      <div class="form-group">
        <mat-form-field appearance="legacy" class="input-mx" appearance="fill">
          <mat-label>Autorizacion N#</mat-label>
          <input matInput placeholder="Ingreso numero de autorizacion">
          <mat-icon matSuffix>edit</mat-icon>                      
        </mat-form-field>           
      </div>   
      <div class="form-group">
        <button class="btn btn-block" style="background-color: gainsboro; border: gainsboro;">Acreditar pago / Imprimir recibo</button>
      </div>        
    </div>
  </div>
</div>